:root {
    --web-font-color: #717171;
    --header-width: 200px;
    --content-width: calc(100vw - 200px);
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: .8;
}

.none {
    display: none;
}

.content {
    position: relative;
    top: 0;
    left: var(--header-width);
    width: var(--content-width);
    margin-bottom: 50px;
}

.content .title {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 10px;
    color: var(--web-font-color);
    font-size: 3em;
}

.content .date {
    text-align: center;
    margin-bottom: 5vh;
}

.content .markdown {
    max-width: 80%;
    margin: auto;
    color: var(--web-font-color);
}

.content .markdown * {
    text-align: left;
    max-width: 100%;
}

.content .markdown h1 {
    font-size: 2em;
}

.content .markdown h2 {
    font-size: 1.75em;
}

.content .markdown h3 {
    font-size: 1.5em;
}

.content .markdown h4 {
    font-size: 1.25em;
}

.content .markdown h5 {
    font-size: 1em;
}

.content .markdown h6 {
    font-size: 0.75em;
}

.content .markdown ul {
    padding-left: 25px;
}

.content .markdown ol {
    padding-left: 25px;
}

.content .markdown hr {
    margin: 8vmin 0;
}

.content .markdown blockquote {
    margin: 2vmin 0;
    padding: 2vmin 0 2vmin 2vmin;
    border-left: var(--web-font-color) solid 3px;
}

.content .markdown img {
    margin: 2vmin 0;
}

.content .markdown a {
    overflow-wrap: break-word;
}

.tag * {
    color: var(--web-font-color);
}

.tag .title {
    text-transform: uppercase;
}

.tag .articles {
    position: relative;
    margin: 10vh auto 0 auto;
    max-width: calc(var(--content-width) / 1.8);
}

.tag .articles li {
    list-style-type: none;
    margin: 0 0 3vh 0.7vw;
}

.tag .articles li:last-child {
    margin: 0 0 0 0.7vw;
}

.tag .articles .article {
    position: relative;
    width: 100%;
}

.tag .articles .article-header {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin-bottom: 5px;
}

.tag .articles .article-header h2::after {
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 110%;
    max-width: calc(var(--content-width) / 1.8 - 0.7vw);
    position: absolute;
    background-color: var(--web-font-color);
    border-radius: 100%;
}

.tag .articles .article-header p {
    margin-left: 0.8rem;
}

.tag .articles .article-pre {
    font-size: 1.15rem;
    margin: 1vh 0;
}

.tag .articles .article-tags {
    display: flex;
    align-items: center;
}

.tag .articles .article-tags li:first-child {
    margin: 0;
}

.tag .articles .article-tags li {
    margin-left: 0.5rem;
}